<template>
    <div id="svg-container">

        <svg id="icon-svg" class="elevation-15" width="200px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" preserveAspectRatio="none">
            <!-- <path id="path" d="M0 0h24v24H0zm5 13.18v4L12 21l7-3.82v-4L12 17l-7-3.82zM12 3L1 9l11 6 9-4.91V17h2V9L12 3z"/> -->
            <!-- <path id="path" d="M0 0h24v24H0zm12 11.55C9.64 9.35 6.48 8 3 8v11c3.48 0 6.64 1.35 9 3.55 2.36-2.19 5.52-3.55 9-3.55V8c-3.48 0-6.64 1.35-9 3.55zM12 8c1.66 0 3-1.34 3-3s-1.34-3-3-3-3 1.34-3 3 1.34 3 3 3z"/> -->
            <path id="path" ref="path" :d="currentPath"/>
            <style>svg { background-color: white; }</style>            
        </svg>

        <div class="text-xs-center blue--text text--darken-4">{{ currentCaption }}</div>

    </div>
</template>

<style>
    #path {
        /* fill: rgb(4, 6, 148); */
        fill: #0D47A1;
    }
    /* <!-- @media all and (max-width: 1300px) {
        path {
            fill: rgb(0, 5, 1);
            fill: rgb(184, 147, 29);
        }
    } --> */
</style>

<script>
import { TweenMax, TimeineMax } from 'gsap'

export default {
    data() {
        return {
            paths: [
                // "M0 0h24v24H0zm 12.101562 0.1015625 A 12 12 0 0 0 0.1015625 12.101562 A 12 12 0 0 0 12.101562 24.101562 A 12 12 0 0 0 24.101562 12.101562 A 12 12 0 0 0 12.101562 0.1015625 z M 12 3 L 23 9 L 23 17 L 21 17 L 21 10.089844 L 12 15 L 1 9 L 12 3 z M 5 13.179688 L 12 17 L 19 13.179688 L 19 17.179688 L 12 21 L 5 17.179688 L 5 13.179688 z",
                "M0 0h24v24H0zm5 13.18v4L12 21l7-3.82v-4L12 17l-7-3.82zM12 3L1 9l11 6 9-4.91V17h2V9L12 3z",
                "M0 0h24v24H0zm12 11.55C9.64 9.35 6.48 8 3 8v11c3.48 0 6.64 1.35 9 3.55 2.36-2.19 5.52-3.55 9-3.55V8c-3.48 0-6.64 1.35-9 3.55zM12 8c1.66 0 3-1.34 3-3s-1.34-3-3-3-3 1.34-3 3 1.34 3 3 3z",
                "M0 0h24v24H0zm2.2597656 2.8945312 C 2.1041687 2.8945312 1.9729553 2.9576838 1.8652344 3.0839844 C 1.7575134 3.2260724 1.703125 3.4231802 1.703125 3.6757812 L 1.703125 20.371094 C 1.703125 20.607908 1.7575134 20.797365 1.8652344 20.939453 C 1.9729553 21.065754 2.1041687 21.128906 2.2597656 21.128906 C 2.4033936 21.128906 2.5289978 21.065754 2.6367188 20.939453 C 2.7564087 20.797365 2.8164062 20.607908 2.8164062 20.371094 L 2.8164062 12.035156 L 10.572266 12.035156 L 10.572266 20.371094 C 10.572266 20.607908 10.626654 20.797365 10.734375 20.939453 C 10.842096 21.065754 10.973309 21.128906 11.128906 21.128906 C 11.272534 21.128906 11.398139 21.065754 11.505859 20.939453 C 11.625549 20.797365 11.685547 20.607908 11.685547 20.371094 L 11.685547 3.6757812 C 11.685547 3.4231802 11.625549 3.2260724 11.505859 3.0839844 C 11.398139 2.9576838 11.272534 2.8945313 11.128906 2.8945312 C 10.973309 2.8945312 10.842096 2.9576838 10.734375 3.0839844 C 10.626654 3.2260724 10.572266 3.4231802 10.572266 3.6757812 L 10.572266 10.708984 L 2.8164062 10.708984 L 2.8164062 3.6757812 C 2.8164062 3.4231802 2.7564087 3.2260724 2.6367188 3.0839844 C 2.5289978 2.9576838 2.4033936 2.8945313 2.2597656 2.8945312 z M 14.884766 3.296875 C 14.334192 3.296875 13.902991 3.5341856 13.591797 4.0078125 C 13.31651 4.4340767 13.179687 4.9622474 13.179688 5.59375 L 13.179688 18.453125 C 13.179688 19.06884 13.31651 19.589361 13.591797 20.015625 C 13.902991 20.489252 14.334192 20.726562 14.884766 20.726562 L 19.140625 20.726562 C 20.313587 20.726562 21.247204 20.213692 21.941406 19.1875 C 22.563794 18.271821 22.875 17.150374 22.875 15.824219 C 22.875 14.798027 22.665009 13.898591 22.246094 13.125 C 21.875055 12.41456 21.359466 11.853836 20.701172 11.443359 C 21.20387 11.04867 21.588245 10.535799 21.851562 9.9042969 C 22.126849 9.2885819 22.263672 8.5862532 22.263672 7.796875 C 22.263672 6.5812325 21.976856 5.5458879 21.402344 4.6933594 C 20.767987 3.7618931 19.924365 3.296875 18.871094 3.296875 L 14.884766 3.296875 z M 15.082031 4.6230469 L 18.763672 4.6230469 C 19.517719 4.6230469 20.110132 4.9464599 20.541016 5.59375 C 20.947962 6.1778899 21.150391 6.9031683 21.150391 7.7714844 C 21.150391 8.6082253 20.947962 9.3278069 20.541016 9.9277344 C 20.098163 10.590812 19.50575 10.921875 18.763672 10.921875 L 14.292969 10.921875 L 14.292969 5.6875 C 14.292969 5.3875362 14.352966 5.1445289 14.472656 4.9550781 C 14.616284 4.7340522 14.818714 4.6230469 15.082031 4.6230469 z M 14.292969 12.224609 L 19.03125 12.224609 C 19.86908 12.224609 20.54588 12.595875 21.060547 13.337891 C 21.527338 14.016755 21.761719 14.84539 21.761719 15.824219 C 21.761719 16.803048 21.540509 17.624032 21.097656 18.287109 C 20.606928 19.029125 19.946955 19.400391 19.121094 19.400391 L 15.082031 19.400391 C 14.818714 19.400391 14.616284 19.289385 14.472656 19.068359 C 14.352966 18.878908 14.292969 18.641598 14.292969 18.357422 L 14.292969 12.224609 z",
            ],
            pathIndex: 0,
            captions: [
                "College Score Search",
                "The RVA Meta",
                "Hunter Beasley"
            ],
            pathElement: null,
            tl: null
        }    
    },
    computed: {
        currentPath() { return this.paths[ this.pathIndex ] },
        currentCaption() { return this.captions[ this.pathIndex ]}
    },
    methods: {
        changePath() {
            console.log('changing path')
            if (this.pathIndex == 0) this.pathIndex = 1
            else this.pathIndex = 0
        }
    },
    mounted() {
        this.tl = new TimelineMax({
            repeat: -1,
            yoyo: true,
        })
        const self = this
        self.pathElement = self.$refs.path
        this.tl.to( self.pathElement, 1, {  ease: Power2.easeIn, x: -34, rotation: -90, delay: 3 })
        this.tl.add(() => {
            if (self.pathIndex == self.paths.length - 1) {
                self.pathIndex = 0
            }
            else {
                self.pathIndex = self.pathIndex + 1
            }
        })
        // console.log( "path:", self.pathElement )
        // setInterval(() => {
        //     TweenMax.from( self.pathElement, 1, { x: -24 })
        //     // TweenMax.to( self.pathElement, 1, { x: 50 })
        //     if (self.pathIndex == self.paths.length - 1) {
        //         self.pathIndex = 0
        //     }
        //     else {
        //         self.pathIndex = self.pathIndex + 1
        //     }
        // }, 5000 )
    }
}

</script>