<template>
  <v-app class="secondary">
    <v-navigation-drawer
      v-model="drawer"
      class="accent drawer"
      fixed
      app
    >
      <v-list>
        <v-list-tile
          v-for="(item, i) in items"
          :to="item.to"
          :key="i"
          router
          exact
          @click="$vuetify.goTo(item.to)"
        >
          <v-list-tile-action>
            <v-icon v-html="item.icon" />
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title v-text="item.title" />
          </v-list-tile-content>
        </v-list-tile>
      </v-list>
    </v-navigation-drawer>

    <v-toolbar
      id="top"
      class="primary"
      dark
      fixed
      app
    >
      <v-toolbar-side-icon @click="drawer = !drawer" />
      <v-toolbar-title v-text="title"/>
    </v-toolbar>

    <v-content>
      <v-container px-0>
        <nuxt />
      </v-container>
    </v-content>

    <v-footer>
      <v-spacer></v-spacer><span>&copy; 2019 - Hunter Beasley</span><v-spacer></v-spacer>
    </v-footer>
  </v-app>
</template>

<style>
  .drawer {
    border-right: 3px solid lightgray !important
  }
</style>

<script>
  export default {
    data() {
      return {
        drawer: true,
        items: [
          { icon: 'apps', title: 'Welcome', to: '#top' },
          { icon: 'school', title: 'College Score Search', to: '#css' },
          { icon: null, title: 'about', to: '#css-about' },
          { icon: null, title: 'tech stack', to: '#css-tech' },
          { icon: null, title: 'future', to: '#css-future' },
          { icon: 'local_library', title: 'The RVA Meta', to: '#meta' },
          { icon: null, title: 'about', to: '#meta-about' },
          { icon: null, title: 'tech stack', to: '#meta-tech' },
          { icon: null, title: 'future', to: '#meta-future' },
          { icon: 'email', title: 'Contact & Resume', to: '#contact' },
        ],
        title: 'Vue.js App Showcase'
      }
    }
  }
</script>
