<template>
  <v-layout
    column
    justify-center
    align-center>
    <v-flex
      xs12
      sm8
      md6>
      <div class="text-xs-center">
      <!-- <div> -->
        <my-logo/>
        <!-- <logo/>
        <vuetify-logo/> -->
      </div>

      <blockquote class="justified px-2 blockquote indigo--text text--darken-4">
        Hello and welcome to my Vue.js app showcase!
        My name is Hunter Beasley and I am a front end developer living in Richmond Virginia.
        This site features two significant ongoing projects built using the Vue framework.
        While I look forward to oportunities working with other frameworks like React and Angular, I love Vue for its elegance and simplicity.
      </blockquote>
      <blockquote class="caption px-2 mt-0 pt-0 blockquote indigo--text text--darken-4">
        This site is open source.
        <v-btn flat small dark round class="primary" href="https://bitbucket.org/hunterbeasley/portfolio/">View on Bitbucket</v-btn>
      </blockquote>

      <v-divider class="mb-4"></v-divider>

      <v-card v-for="(project, index) in projects" :key="index" :id="project.abbr" class="mx-1 mt-5">
        <v-carousel :height="carouselHeight">
          <v-carousel-item
            v-for="(item,i) in project.images"
            :key="i"
            :src="item.src"
            transition="fade-transition"
            reverse-transition="fade-transition"
          ></v-carousel-item>
        </v-carousel>
        <v-card-title primary-title>
          <div>
            <h3 class="headline mb-0">{{ project.name }}</h3>
            <span class="caption">{{ project.subtitle }}</span>
            <!-- <div> {{ card_text }} </div> -->
          </div>
        </v-card-title>
        <v-card-text>
          <v-divider :id="project.abbr + '-about'"></v-divider>
          <h4 class="title my-2">Overview</h4>
          <p class="justified">{{ project.description }}</p>
          <v-divider :id="project.abbr + '-tech'"></v-divider>
          <h4 class="title my-2">Technology Stack</h4>
          <p class="justified">{{ project.technical }}</p>
          <v-divider :id="project.abbr + '-future'"></v-divider>
          <h4 class="title my-2">Future Direction</h4>
          <p class="justified">{{ project.future }}</p>
        </v-card-text>
        <v-card-actions>
          <v-btn v-for="(link, index) in project.links" :key="index" flat color="orange" :href="link.url" target="_blank">{{ link.title }}</v-btn>
        </v-card-actions>    
      </v-card>

      <v-card id="contact" class="mt-5 mx-1">
        <v-card-title class="headline">Contact Information</v-card-title>
        <v-card-text>
          <p>Email: jhunterbeasley@gmail.com</p>
          <p>Phone: (804)528-6503</p>
          <!-- <p>LinkedIn: not available</p> -->
        </v-card-text>
        <v-card-actions>
          <v-spacer/>
          <v-btn
            id="resumeButton"
            color="primary"
            flat
            @click="showHide"
          >{{ buttonText }}</v-btn>
        </v-card-actions>
      </v-card>

      <resume :projects="projects" v-show="showResume"/>
    </v-flex>
  </v-layout>
</template>

<style scoped>
  .justified {text-align: justify}
</style>


<script>
import MyLogo from '~/components/MyLogo.vue'
import Resume from '~/components/Resume.vue'

export default {
  data () {
    return {
      showResume: false,
      projects: [
        {
          name: "College Score Search",
          subtitle: "An entrance exam score based college exploration tool.",
          abbr: "css",
          links: [
            {
              title: "visit site",
              url: "https://collegescoresearch.com"
            },
          ],
          images: [
            { src: '/project-one/css1.png' },
            { src: '/project-one/css2.png' },
            { src: '/project-one/css3.png' },
            { src: '/project-one/css4.png' },
            { src: '/project-one/css5.png' },
            { src: '/project-one/css6.png' },
            { src: '/project-one/css7.png' },
            { src: '/project-one/css8.png' },
          ],
          description: 
            `College Score Search is intended to help students research and build a list of colleges and universities
            to which they might apply. SAT and ACT test scores are used as a starting point to drill into data obtained
            from the U.S. Department of Education's College Scorecard API. The important concepts of match, reach, and safety
            schools are explained and emphasized. A list of categorized schools is stored locally and can be printed in PDF format.
            Another feature of this app is a reactive score conversion utility based on concordance data published
            by the College Board. Any input score (old SAT, new SAT, or ACT) causes all equivalent scores to be calculated and displayed.`,
          technical:
            `College Score Search is a universal (server-side rendered) app constructed using the NUXT framework for Vue.js.
            The interface is built with Vuetify, an implementation of Google's material design specification for Vue. The many maps
            are created with Leaflet.js. PDF generation is handled by the pdfmake library, and the front page animation
            was made with GSAP.`,
          future:
            `I see two possible major enhancements to this app. The first is the incorporation of other data predictive of college
            admission chances, most notably high school GPA. I have seen other sites that use a matrix of entrance exam scores and GPA
            to generate percentage chances of college admission. Personally, I consider this to be potentially misleading and somewhat
            irresponsible. On the other hand, using predictive data to help build up a list intended to be a discussion starter is an
            intiguing idea I could feel pretty good about. Another potential enhancement could be the inclusion of test preparation games.
            There are a growing number out there, but a great many seem to be little more than flash cards and 
            glorified multiple choice tests. Building intelligent games has been a long time hobby, and I think this an area with a lot of
            potential to create something fun and worthwhile.`
        },
        {
          name: "The RVA Meta",
          subtitle: "An automated local newspaper.",
          abbr: "meta",
          links: [
            {
              title: "visit site",
              url: "https://rvameta.com"
            },
            {
              title: "visit fb page",
              url: "https://www.facebook.com/RVA-Meta-2641692169191860/"
            },
          ],
          images: [
            { src: '/project-two/meta1.png' },
            { src: '/project-two/meta2.png' },
            { src: '/project-two/meta3.png' },
            { src: '/project-two/meta4.png' },
            { src: '/project-two/meta5.png' },
            { src: '/project-two/meta6.png' },
          ],
          description:
            `The RVA Meta is an automated online local newspaper experiment that incorporates state, national, and world content. 
            It aggregates headline content from local news outlets with articles accessed via the Google News API,
            self-publishing every four hours, and posting a synopsis of local stories to Facebook once daily.`,
          technical:
            `This project is a single page application (SPA) scaffolded using the Vue CLI version 3, and again incorporates Vuetify on the front end.
            Content is generated using a Google cloud function scheduled to execute every four hours. This function makes use of the puppeteer
            library to launch an instance of headless Chrome, which in turn scrapes headlines, excerpts, and feature image urls from
            local news sources. This information is formatted consistent with the Google News API, combined with data obtained from it, and saved to
            cloud storage for access by the app. Additionally, the 8 A.M. function execution generates a summary of local articles
            published within the previous 24 hours and posts it to Facebook via the Graph API.`,
          future:
            `I am currently working to add functionality specific to Richmond Virginia, but not necessarily news related.
            This includes a display of active 911 calls and response times, and current GRTC routes and bus locations--useful
            information not available in a traditional print publication. As a software developer I get a real kick from all things
            automated, but ultimately I believe the RVA Meta will require a human touch to succeed... to currate content, make editorial choices,
            and to provide context.`
        },
      ]
    }
  },  
  components: {
    MyLogo,
    Resume
  },
  computed: {
    buttonText() {
      if (!this.showResume) return "Generate Resume"
      else return "Hide Resume"
    },
    carouselHeight () {
      switch (this.$vuetify.breakpoint.name) {
        case 'xs': return '250px'
        case 'sm': return '400px'
        case 'md': return '440px'
        case 'lg': return '570px'
        case 'xl': return '700px'
      }
    }
  },
  methods: {
    showHide() {
      this.showResume = !this.showResume
      if (this.showResume) {
        this.$vuetify.goTo('#resumeButton')
      }
    }
  },
  head () {
    return {
      title: 'Hunter Beasley | Vue.js Portfolio',
      meta: [
        { hid: 'description', name: 'description', content: "I'm Hunter Beasley, a front-end developer living in Richmond Va. This is my Vue.js app showcase." }
      ]
    }
  }  
}
</script>
